/*Apply to the body */
body {
    background-image: url("../Img/711954.jpg");
}

/* Apply to the page header */
header {
    padding: 20px;
    background-color: rgb(53, 51, 51);
    color: white;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

/* Apply to the text */
h1 {
    font-size: 25px;
    font-weight: bold;
}

h2 {
    font-size: medium;
}
h3 {
    padding: 10px;
}

h4 {
    font-size: 16px;
    font-weight: bold;
}

/* Apply to the search bar and the list of searched city content */
.search-city-content {
    padding: 20px;
    clear: both;
    height: 100%;
    background-color: plum;
}

/* Apply to the search bar */
.search-city {
    margin-left: 20px;
}

.city {
    text-transform: capitalize;
}

/* Apply to the city weather description box */ 
.city-weather {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    height: 300px;
    border: 2px solid rgb(233, 126, 162);
    background-color: white;
    color: black;
}

#city-weather {
    padding: 30px;
    color: black;
}


/* Apply to the 5 day forecast box */
.five-day-forecast {
    width: 180%;
    height: 50%;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 305px;
    background-color: blueviolet;
}

/* Apply to the 5 day forecast cards */
.card {
    width: 18%;
    margin-left: 10px;
}