/* Apply to the page header */
.container-fluid {
    padding: 20px;
    background-color: rgb(53, 51, 51);
}

/* Apply to the title text inside the header */
h1 {
    color: white;
    text-align: center;
}

h2 {
    text-align: left;
}

/* Apply to the search bar and the list of searched city content */
.search-city-content {
    padding: 30px;
    clear: both;
    float: left;
    height: 100%;
    background-color: plum;
}

.search-city {
    margin-left: 20px;
}

/* Apply to the city weather description box */ 
.city-weather {
    float: right;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 100px;
    width: 150%;
    height: 300px;
    border: 2px solid rgb(233, 126, 162);
    color: white;
}

/* Apply to the 5 day forecast box */
.five-day-forecast {
    float: right;
    padding: 100px;
    width: 150%;
    height: 250px;
    background-color: violet;
}