/* Apply to the page header */
.container-fluid {
    padding: 20px;
    background-color: rgb(53, 51, 51);
}

/* Apply to the title text inside the header */
h1 {
    color: white;
    text-align: center;
}

h2 {
    font-size: medium;
}

/* Apply to the search bar and the list of searched city content */
.search-city-content {
    padding: 30px;
    clear: both;
    height: 100%;
    background-color: plum;
}

/* Apply to the search bar */
.search-city {
    margin-left: 20px;
}

/* Apply to the city weather description box */ 
.city-weather {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 150%;
    height: 300px;
    border: 2px solid rgb(233, 126, 162);
    color: black;
}

/* Apply to the 5 day forecast box */
.five-day-forecast {
    width: 150%;
    height: 60%;
    padding: 10px;
    position: absolute;
    bottom: 0;
    right: 8%;
}

/* Apply to the 5 day forecast cards */
.card {
    width: 18%;
    margin-right: 10px;
}